<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joshsoftware.reached">

    <application
        android:name=".FamApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".ui.activity.SavePickedLocationActivity">
        </activity>
        <activity android:name=".ui.activity.PickLocationActivity" />
        <activity android:name=".ui.activity.ProfileActivity" />
        <activity android:name=".ui.activity.HomeActivity" />
        <activity
            android:name=".ui.activity.OnboardingActivity"
            android:theme="@style/OnboardingTheme" />
        <activity android:name=".ui.activity.GroupListActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="reached1.page.link"
                    android:scheme="https" />
                <data
                    android:host="reached1.page.link"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.CreateGroupActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDacw9al4jpEeuFw4UxOaPSU4ON7a_gMjE" />

        <activity
            android:name=".ui.activity.GroupMemberActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ScanQrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.QrCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GroupChoiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GroupChoiceTheme" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ui.activity.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />

        <service
            android:name="com.joshsoftware.core.service.LocationUpdateService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.ReachedFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name="com.joshsoftware.core.geofence.GeofenceBroadcastReceiver"/>

    </application>

</manifest>